apiVersion: v1
kind: Namespace
metadata:
  name: {{ CLUSTER_NAME }}
apiVersion: v1
items:
- apiVersion: hive.openshift.io/v1
  kind: ClusterDeployment
  metadata:
    creationTimestamp: null
    labels:
      hive.openshift.io/hiveutil-created: "true"
    name: {{ CLUSTER_NAME }}
    namespace: {{ CLUSTER_NAME }}
  spec:
    baseDomain: {{ BASE_DOMAIN }}
    clusterName: {{ CLUSTER_NAME }}
    controlPlaneConfig:
      servingCertificates: {}
    installed: false
    platform:
      aws:
        credentialsSecretRef:
          name: {{ CLUSTER_NAME }}-aws-creds
        region: us-east-1
    provisioning:
      imageSetRef:
        name: {{ CLUSTER_NAME }}-imageset
      installConfigSecretRef:
        name: {{ CLUSTER_NAME }}-install-config
  status: {}
- apiVersion: hive.openshift.io/v1
  kind: MachinePool
  metadata:
    creationTimestamp: null
    name: {{ CLUSTER_NAME }}-worker
    namespace: {{ CLUSTER_NAME }}
  spec:
    clusterDeploymentRef:
      name: {{ CLUSTER_NAME }}
    name: worker
    platform:
      aws:
        rootVolume:
          iops: 100
          size: 22
          type: gp2
        type: {{ WORKER_VM_SIZE }}  # m4.xlarge
    replicas: 3
  status: {}
- apiVersion: v1
  kind: Secret
  metadata:
    creationTimestamp: null
    name: {{ CLUSTER_NAME }}-install-config
    namespace: {{ CLUSTER_NAME }}
  stringData:
    install-config.yaml: |
      apiVersion: v1
      baseDomain: {{ BASE_DOMAIN }}
      compute:
      - name: worker
        platform:
          aws:
            rootVolume:
              iops: 100
              size: 22
              type: gp2
            type: {{ WORKER_VM_SIZE }}  # m4.xlarge
        replicas: 3
      controlPlane:
        name: master
        platform:
          aws:
            rootVolume:
              iops: 100
              size: 22
              type: gp2
            type: {{ MASTER_VM_SIZE }} 
        replicas: 3
      metadata:
        creationTimestamp: null
        name: {{ CLUSTER_NAME }}
      networking:
        clusterNetwork:
        - cidr: 10.128.0.0/14
          hostPrefix: 23
        machineNetwork:
        - cidr: 10.0.0.0/16
        networkType: OpenShiftSDN
        serviceNetwork:
        - 172.30.0.0/16
      platform:
        aws:
          region: us-east-1
      pullSecret: {{ PULL_SECRET }}
      sshKey: {{ SSH_PUBLIC_KEY }}
  type: Opaque
- apiVersion: v1
  kind: Secret
  metadata:
    creationTimestamp: null
    name: {{ CLUSTER_NAME }}-aws-creds
    namespace: {{ CLUSTER_NAME }}
  stringData:
    aws_access_key_id: {{ AWS_ACCESS_KEY_ID }}
    aws_secret_access_key: {{ AWS_SECRET_ACCESS_KEY }}
  type: Opaque
- apiVersion: hive.openshift.io/v1
  kind: ClusterImageSet
  metadata:
    creationTimestamp: null
    name: {{ CLUSTER_NAME }}-imageset
  spec:
    releaseImage: {{ OCP_RELEASE_IMAGE }} 
  status: {}
kind: List
metadata: {}
