---
- name: copy configuretWasUsageMetering.py to target host
  copy:
   src: "scripts/"
   dest: ~/
   mode: '0755'

  # https://www.ibm.com/support/pages/apar/PK72753
- name: set wsadmin prop to not echo sensitive info
  become: yes
  replace:
   path: "{{ wa_target_path }}/properties/wsadmin.properties"
   regexp: 'com.ibm.ws.scripting.echoparams=false'
   replace: 'com.ibm.ws.scripting.echoparams=true'

  # check the status of the dmgr 
  # [nest@nest-wa-twas855 ~]$ /opt/WAS/profiles/dmgr/bin/serverStatus.sh dmgr
  #ADMU0116I: Tool information is being logged in file
  #           /opt/WAS/profiles/dmgr/logs/dmgr/serverStatus.log
  #ADMU0128I: Starting tool with the dmgr profile
  #ADMU0500I: Retrieving server status for dmgr
  #ADMU0509I: The Deployment Manager "dmgr" cannot be reached. It appears to be
  #           stopped.

- name: check the dmgr status
  no_log: true
  shell: "bin/serverStatus.sh dmgr -username {{ wsadmin_username }} -password {{ wsadmin_password }}"
  args:
   chdir: "{{ wa_target_path }}"
  register: dmgr_status

- name: find the dmgr status
  no_log: true
  set_fact:
    start_dmgr: "{{ item }}"
  when: item|trim|lower is search('stopped')
  with_items:
  - "{{ dmgr_status }}"

- name: start the dmgr
  shell: "bin/startManager.sh"
  args:
   chdir: "{{ wa_target_path }}"
  register: dmgr_start
  when: start_dmgr is defined

- name: set the sslRef info
  set_fact:
    key1: 'sslRef'
    value1: "{{ sslRef }}"
  when: 
  - sslRef is defined
  - sslRef | length > 1

- name: set the trustStorePassword info
  set_fact:
    key1: 'trustStorePassword'
    value1: "{{ trustStorePassword }}"
  when: 
  - trustStorePassword is defined
  - trustStorePassword | length > 1

- name: run wsadmin.sh
  shell: "bin/wsadmin.sh -lang jython -username {{ wsadmin_username }} -password {{ wsadmin_password }} -f ~/configuretWasUsageMetering.py url={{ wa_url }} apikey={{ api_key }} {{ key1 }}={{ value1 }} startServers={{ startServers }}"
  args:
   chdir: "{{ wa_target_path }}"
  register: wsadmin

- debug:
   msg: "{{ wsadmin.stdout_lines }}"
