---

- name: copy twas_cell_unamaged_web_node.py.j2 template
  template:
   src: "twas_cell_unamaged_web_node.py.j2"
   dest: "twas_cell_unamaged_web_node.py"

- name: run the twas_cell_unamaged_web_node.py jython script
  shell: "{{install_base }}/{{ twas_dir }}/profiles/{{ profile_name }}/bin/wsadmin{{ ext }} -lang jython -username {{ twas_username }} -password {{ twas_password }} -f twas_cell_unamaged_web_node.py"
  register: createWebServerOutput
  failed_when: ( createWebServerOutput.rc not in [ 0, 255 ] )
- name: createWebServerOutput
  debug:
   msg: "{{ createWebServerOutput.stdout_lines }}"

