#!/bin/bash

my_dir=$(dirname $(readlink -f $0))

echo "Installing Local Storage Operator."

oc apply -f $my_dir/02.local-storage-operator.yaml

if [ ! $? -eq 0 ]
then
    echo "There was an error installing Local Storage Operator."
    exit 1
fi

echo -n "Waiting for Local Storage Operator to be ready."
sleep 5

csv_name=$(oc get csv -n {{ local_storage_namespace }} -o name | awk -F"/" '{print $2}')

COUNTER=60
STATUS=$(oc get csv $csv_name -n  {{ local_storage_namespace }} -o jsonpath={.status.phase})
while [[ $STATUS != "Succeeded" ]]
do
    COUNTER=$(( ${COUNTER} -1 ))
    if [ "$COUNTER" -lt 1 ]
    then
        echo "Max retries reached, exiting..."
        exit 1
    fi
    sleep 5
    echo -n .
    STATUS=$(oc get csv $csv_name -n {{ local_storage_namespace }} -o jsonpath={.status.phase})
    echo "First ${STATUS}"
    echo "Second $STATUS"
done
echo
