<?xml version='1.0' encoding='UTF-8'?>
<agent-input>
  <variables>
    <variable name='sharedLocation' value='/root/IBM/IMShared'/>
  </variables>
  <server>
    <repository location='https://rtpgsa.ibm.com/gsa/rtpgsa/projects/w/was.build/botp/WAS90.IM/test/f5102145.01.linux/linux/zipper/repository/'/>
  </server>
  <profile id='IBM HTTP Server V9.0' installLocation='/root/IBM/HTTPServer'>
    <data key='cic.selector.arch' value='x86_64'/>
    <data key='user.ihs.allowNonRootSilentInstall' value='true'/>
    <data key='user.ihs.httpPort' value='8180'/>
    <data key='user.ihs.http.server.service.name.key' value='IBMHTTPServerV9.0'/>
    <data key='user.ihs.win.serverServicePassword' value='XjTveChg5ba6olBVMK/Reg=='/>
    <data key='user.ihs.http.server.service.name' value='IBM HTTP Server V9.0'/>
    <data key='user.ihs.win.serverServiceLogOnAsLocalSystem' value='true'/>
    <data key='user.ihs.win.serverServiceUser' value='root'/>
  </profile>
  <install>
    <!-- IBM HTTP Server for WebSphere Application Server 9.0.5.10 -->
    <offering profile='IBM HTTP Server V9.0' id='com.ibm.websphere.IHS.v90' version='9.0.5010.20211108_1200' features='core.feature'/>
    <!-- IBM SDK, Java Technology Edition, Version 8 8.0.7.0 -->
    <offering profile='IBM HTTP Server V9.0' id='com.ibm.java.jdk.v8' version='8.0.7000.20211025_1430' features='com.ibm.sdk.8'/>
  </install>
  <profile id='Web Server Plug-ins for IBM WebSphere Application Server V9.0' installLocation='/root/IBM/WebSphere/Plugins'>
    <data key='cic.selector.arch' value='x86_64'/>
  </profile>
  <install>
    <!-- Web Server Plug-ins for IBM WebSphere Application Server 9.0.5.10 -->
    <offering profile='Web Server Plug-ins for IBM WebSphere Application Server V9.0' id='com.ibm.websphere.PLG.v90' version='9.0.5010.20211108_1200' features='core.feature'/>
    <!-- IBM SDK, Java Technology Edition, Version 8 8.0.7.0 -->
    <offering profile='Web Server Plug-ins for IBM WebSphere Application Server V9.0' id='com.ibm.java.jdk.v8' version='8.0.7000.20211025_1430' features='com.ibm.sdk.8'/>
  </install>
  <preference name='com.ibm.cic.common.core.preferences.eclipseCache' value='${sharedLocation}'/>
</agent-input>
