---

- name: Any logs?
  ansible.builtin.stat:
    path: "{{install_base }}/{{ twas_dir }}/profiles/{{ profile_name }}/logs"
  register: islogs

- name: Log archive logic
  when: islogs.stat.exists == True
  block:
  - name: Archive the logs dir to fetch
    community.general.archive:
      path:
      - "{{install_base }}/{{ twas_dir }}/profiles/{{ profile_name }}/logs/*" # needs * to allow the exclude_path to work
      exclude_path:
      - "{{install_base }}/{{ twas_dir }}/profiles/{{ profile_name }}/logs/service"
      exclusion_patterns:
      - '*.zip'
      - '*.tar'
      - '*.gz'
      dest: logs.zip
      format: zip

  - name: Fetch the twas log archive
    ansible.builtin.fetch:
      src: logs.zip
      dest: "{{ logsDir }}/{{ env_name }}"

  - name: Unarchive the twas logs
    delegate_to: localhost
    ansible.builtin.unarchive:
      src: "{{ logsDir }}/{{ env_name }}/{{ ansible_fqdn }}/logs.zip"
      dest: "{{ logsDir }}/{{ env_name }}/{{ ansible_fqdn }}"
      remote_src: false

  - name: Remove logs.zip
    delegate_to: localhost
    ansible.builtin.file:
      path: "{{ logsDir }}/{{ env_name }}/{{ ansible_fqdn }}/logs.zip"
      state: absent

  - name: Print local log/error directory location
    ansible.builtin.debug:
      msg: "{{ logsDir }}/{{ env_name }}/{{ ansible_fqdn }}"