---

- name: twas version and status
  shell: |
      [ -f {{ install_base }}/{{ twas_dir }}/bin/versionInfo.sh ] && {{ install_base }}/{{ twas_dir }}/bin/versionInfo.sh -ifixDetail || true
      [ -f {{ install_base }}/{{ http_dir }}/bin/versionInfo.sh ] && {{ install_base }}/{{ http_dir }}/bin/versionInfo.sh -ifixDetail || true
      [ -f {{ install_base }}/{{ plugin_dir }}/bin/versionInfo.sh ] && {{ install_base }}/{{ plugin_dir }}/bin/versionInfo.sh -ifixDetail || true
      [ -f {{ install_base }}/{{ wct_dir }}/bin/versionInfo.sh ] && {{ install_base }}/{{ wct_dir }}/bin/versionInfo.sh -ifixDetail || true
      [ -f {{ install_base }}/{{ app_dir }}/bin/versionInfo.sh ] && {{ install_base }}/{{ app_dir }}/bin/versionInfo.sh -ifixDetail || true
      [ -f {{ install_base }}/{{ twas_dir }}/profiles/{{ profile_name }}/bin/serverStatus.sh ] && {{ install_base }}/{{ twas_dir }}/profiles/{{ profile_name }}/bin/serverStatus.sh -all -username {{ twas_username }} -password {{ twas_password }} || true
  register: twasstatus

- name: twasstatus
  debug:
    msg: '{{ twasstatus.stdout_lines }}'
