{
    "{{ ansible_fqdn }}": 
    [
        {
            "Product": "{{ twas_Product }}",
            "Version": "{{ twas_Version }}",
            "Build_Level": "{{ twas_Build_Level }}"
        }
    ]
}
