<head></head><body><pre>
GCMV processed @ {{ '%Y-%m-%d %H:%M:%S' | strftime(ansible_date_time.epoch) }}
-----------------------------------------------------
<br>
<a href="GCMVlineplot.html" target=_blank>GCMV line plots ( All )</a>
<br>
Individual GCMV chart's and reports 
<br>
-----------------------------------------------------
<br>
<!-- lineplots -->

</pre></body>