<head></head><body><pre>
<!-- lineplots -->
./nest@nest-cc-2.fyre.ibm.com/cc/logs/IBM_GCMV/Line plot.png
<img src="./nest@nest-cc-2.fyre.ibm.com/cc/logs/IBM_GCMV/Line plot.png" width=100% alt="./nest@nest-cc-2.fyre.ibm.com/cc/logs/IBM_GCMV/Line plot.png">
./nest@nest-cc-1.fyre.ibm.com/cc/logs/IBM_GCMV/Line plot.png
<img src="./nest@nest-cc-1.fyre.ibm.com/cc/logs/IBM_GCMV/Line plot.png" width=100% alt="./nest@nest-cc-1.fyre.ibm.com/cc/logs/IBM_GCMV/Line plot.png">
./nest@nest-cc-3.fyre.ibm.com/cc/logs/IBM_GCMV/Line plot.png
<img src="./nest@nest-cc-3.fyre.ibm.com/cc/logs/IBM_GCMV/Line plot.png" width=100% alt="./nest@nest-cc-3.fyre.ibm.com/cc/logs/IBM_GCMV/Line plot.png">
</pre></body>