<head></head><body><pre>
GCMV processed @ {{ '%Y-%m-%d %H:%M:%S' | strftime(ansible_date_time.epoch) }}
-----------------------------------------------------
<br>
<a href="gcmv_single_report.html.j2" target=_blank>GCMV reports ( All )</a>
<br>
Individual GCMV reports 
<br>
-----------------------------------------------------
<br>
<!-- reports -->

</pre></body>