#-----------------------------------------------------------------
# WARNING: Jython/Python is extremely sensitive to indentation
# errors. Please ensure that tabs are configured appropriately
# for your editor of choice.
#-----------------------------------------------------------------
saveMe="true"
syncAll="false"
genericArgs = "-Xdisableexplicitgc -Xgcpolicy:gencon -Xmn1024m -Xshareclasses:none -javaagent:/opt/instana/instana-javaagent-1.0.0.jar -Dcom.ibm.tools.attach.enable=yes"
# END
