{
    "{{ inventory_hostname }}":{
        "container_name": "{{ svt_mq_container_name }}",
        "Name": "{{ mq_Name }}",
        "Version": "{{ mq_Version }}",
        "Level": "{{ mq_Level }}",
        "BuildType": "{{ mq_BuildType }}",
        "Platform": "{{ mq_Platform }}",
        "Mode": "{{ mq_Mode }}",
        "os": "{{ mq_os }}",
        "osDetails": "{{ mq_osDetails }}",
        "InstName": "{{ mq_InstName }}",
        "InstDesc": "{{ mq_InstDesc }}",
        "Primary": "{{ mq_Primary }}",
        "InstPath": "{{ mq_InstPath }}",
        "DataPath": "{{ mq_DataPath }}",
        "MaxCmdLevel": "{{ mq_MaxCmdLevel }}",
        "LicenseType": "{{ mq_LicenseType }}",
        "ReleaseType": "{{ mq_ReleaseType }}"
    }
}
