{
    "hostname": "{{ ansible_fqdn }}",
    "container_name": "{{ container_name }}",
    "Name": "{{ mq_name }}",
    "Version": "{{ mq_version }}",
    "Level": "{{ mq_level }}",
    "BuildType": "{{ mq_BuildType }}",
    "Platform": "{{ mq_Platform }}",
    "Mode": "{{ mq_Mode }}",
    "os": "{{ mq_os }}",
    "osDetails": "{{ mq_osDetails }}",
    "InstName": "{{ mq_InstName }}",
    "InstDesc": "{{ mq_InstDesc }}",
    "Primary": "{{ mq_Primary }}",
    "InstPath": "{{ mq_InstPath }}",
    "DataPath": "{{ mq_DataPath }}",
    "MaxCmdLevel": "{{ mq_MaxCmdLevel }}",
    "LicenseType": "{{ mq_LicenseType }}",
    "ReleaseType": "{{ mq_ReleaseType }}",
}