---

# logic below to force kill linux  process
- name: Get running processes list from remote host 
  ignore_errors: yes
  shell: "ps -few | grep {{ linux_process_to_kill }} | awk '{print $2}'"
  register: running_processes

- name: Kill running processes
  ignore_errors: yes
  shell: "kill {{ item }}"
  with_items: "{{ running_processes.stdout_lines }}"

- wait_for:
   path: "/proc/{{ item }}/status"
   state: absent
  with_items: "{{ running_processes.stdout_lines }}"
  ignore_errors: yes
  register: WsServer_processes

- name: Force kill stuck processes
  ignore_errors: yes
  shell: "kill -9 {{ item }}"
  with_items: "{{ WsServer_processes.results | select('failed') | map(attribute='item') | list }}"
