---

- name: log directory
  delegate_to: localhost
  file:
    path: "{{ logsDir }}/logs/{{ env_name }}"
    state: absent

- name: log directory
  delegate_to: localhost
  file:
    path: "{{ logsDir }}/logs/{{ env_name }}"
    state: directory

- name: archive the liberty logs dir to fetch
  community.general.archive:
    path:
    - "{{ wlp_usr_dir }}/servers/{{ wl_server }}/logs"
    dest: logs.tar
    format: tar

- name: fetch the liberty log archive
  ansible.builtin.fetch:
    src: logs.tar
    dest: "{{ logsDir }}/logs/{{ env_name }}"

    # unarchive fails to find handler
- name: Extract the liberty log archive
  delegate_to: localhost
  shell: tar xf logs.tar
  args:
    chdir: "{{ logsDir }}/logs/{{ env_name }}/{{ ansible_fqdn }}"

- name: remove logs.tar
  delegate_to: localhost
  file:
    path: "{{ logsDir }}/logs/{{ env_name }}/{{ ansible_fqdn }}/logs.tar"
    state: absent

- name: log/error directory location
  debug:
   msg: "{{ logsDir }}/logs/{{ env_name }}/{{ ansible_fqdn }}"
