---

- name: log directory
  delegate_to: localhost
  file:
    path: "logs/{{ env_name }}"
    state: absent

- name: log directory
  delegate_to: localhost
  file:
    path: "logs/{{ env_name }}"
    state: directory

- name: archive the logs dir to fetch
  community.general.archive:
    path:
    - "{{ wlp_usr_dir }}/servers/{{ wl_server }}/logs"
    dest: logs.tar
    format: tar

- name: fetch the twas log archive
  ansible.builtin.fetch:
    src: logs.tar
    dest: "logs/{{ env_name }}"

    # unarchive fails to find handler
- name: Extract the twas log archive
  delegate_to: localhost
  shell: tar xf logs.tar
  args:
    chdir: "logs/{{ env_name }}/{{ ansible_fqdn }}"
