apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: {{ cs_operator_project_name }}
  namespace: {{ cs_operator_project_name }}
spec:
  targetNamespaces:
  - {{ cs_operator_project_name }}

