apiVersion: hive.openshift.io/v1
kind: ClusterPool
metadata:
  name: {{ pool_name }}
  namespace: {{ pool_namespace }}
spec:
  baseDomain: {{ BASE_DOMAIN }}
  imageSetRef:
    name: openshift-{{ imageset.stdout }}
  installConfigSecretTemplateRef:
    name: install-config-3x{{ WORKER_COUNT }}-template
  platform:
    aws:
      credentialsSecretRef:
        name: aws-creds
      region: {{ AWS_REGION }}
  size: {{ pool_size }}
