apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{ cs_operator_name }}
  namespace: {{ cs_operator_project_name }}
spec:
  channel: {{ cs_subscription_channel }}
  installPlanApproval: {{ cs_subscription_strategy }}
  name: {{ cs_operator_name }}
  source: opencloud-operators
  sourceNamespace: openshift-marketplace

