---
- name: remove custom package tree
  become: true
  file:
   path: "{{ instana_dir_custom }}"
   state: absent
- name: remove normal package tree
  become: true
  file:
   path: "{{ instana_dir_normal }}"
   state: absent
