---
### "ansible_architecture": "s390x",
### "ansible_architecture": "ppc64le",
### "ansible_architecture": "x86_64",
### "ansible_architecture": "chrp", --- AIX
- include_tasks: stop.yml
- include_tasks: remove_package.yml
- include_tasks: remove_directory.yml
- include_tasks: "{{ ansible_distribution }}.remove_repo.yml"
- include_tasks: install_agent_normal.yml
  when:
  - ansible_architecture == 'x86_64' or ansible_architecture == 's390x' or ansible_architecture == 'ppc64le' 
- include_tasks: install_agent_custom_chrp.yml
  when:
  - ansible_architecture == 'chrp'
- include_tasks: start.yml
- include_tasks: zone.yml
