---
### "ansible_architecture": "s390x",
### "ansible_architecture": "ppc64le",
### "ansible_architecture": "x86_64",
### "ansible_architecture": "chrp", --- AIX

- name: check if imcl installed as a prereq
  stat:
    path: "{{ install_base }}/IM/eclipse/tools/imcl"
  changed_when: false
  failed_when: false

- set_fact:
   archive_name_match: 'agent.installer.linux.gtk.x86_64_{{ im_archive_driver }}.zip'
  when:
  - ansible_architecture == 'x86_64'
  - ansible_system == 'Linux'
- set_fact:
    archive_name_match: 'agent.installer.linux.gtk.ppc64le_{{ im_archive_driver }}.zip'
  when:
  - ansible_architecture == 'ppc64le'
  - ansible_system == 'Linux'
- set_fact:
    archive_name_match: 'agent.installer.win32.win32.x86_64_{{ im_archive_driver }}.zip'
    install_base_win: 'c:\cygwin'
  when:
  - ansible_architecture == 'x86_64'
  - ansible_system == 'Windows' or 'CYG' in ansible_system
- set_fact:
    archive_name_match: 'agent.installer.linux.gtk.s390x_{{ im_archive_driver }}.zip'
  when:
  - ansible_architecture == 's390x'
  - ansible_system == 'Linux'
- set_fact:
    archive_name_match: 'agent.installer.aix.gtk.ppc_{{ im_archive_driver }}.zip'
  when:
  - ansible_architecture == 'chrp'
- set_fact:
    archive_name_match: 'agent.installer.os400.motif.ppc64_{{ im_archive_driver }}.zip'
  when:
  - ansible_system == 'OS400'

- name: as400 softlinks
  when: ansible_system == 'OS400'
  block:
  - name: check if softlinks zip/unzip/zipinfo exist on as400
    stat:
     path: "/QOpenSys/usr/bin/zipinfo"
    register: issoftlinks
  - name: softlink the zip/zipinfo/unzip into default path
    when: issoftlinks.stat.exists == False
    shell: |
      ln -s /QOpenSys/pkgs/bin/zipinfo /QOpenSys/usr/bin/zipinfo 
      ln -s /QOpenSys/pkgs/bin/zip /QOpenSys/usr/bin/zip 
      ln -s /QOpenSys/pkgs/bin/unzip /QOpenSys/usr/bin/unzip

- name: temp im install dir
  file:
   path: "{{ install_base }}/im_install"
   state: directory
- name: copy ibm_im_responsefile.xml template
  template:
   src: ibm_im_responsefile.xml.j2
   dest: "{{ install_base }}/im_install/ibm_im_responsefile.xml"

- name: get im archive
  get_url:
   url: "{{ im_archive }}/{{ archive_name_match }}"
   dest: "{{ install_base }}/im_install/im.zip"
   url_username: "{{ gsa_user }}"
   url_password: "{{ gsa_pass }}"

- name: unarchive im.zip
  unarchive:
   src: "{{ install_base }}/im_install/im.zip"
   dest: "{{ install_base }}/im_install"
   remote_src: True

# default install location: ~/IBM/InstallationManager/eclipse/tools
# tools command: ~/IBM/InstallationManager/eclipse/tools/imcl
- name: ./userinstc -acceptLicense -accessRights nonAdmin -input ibm_im_responsefile.xml
  shell: './userinstc -acceptLicense -accessRights nonAdmin -input ibm_im_responsefile.xml'
  args:
    chdir: '{{ install_base }}/im_install'
  register: userinstcOutput
    
- name: userinstc output
  debug: 
   msg: "{{ userinstcOutput.stdout_lines }}"
