---

- name: check for RedHat distribution
  fail:
    msg: Target OS is not RedHat
  when: ansible_distribution != "RedHat"

- name: Install RHEL pre-reqs
  become: true
  dnf:
   name: "{{ packages }}"
   state: latest
  vars:
   packages:
   - podman

- name: Check if user is lingering
  stat:
    path: "/var/lib/systemd/linger/{{ ansible_user }}"
  register: user_lingering
  when: ansible_user != 'root'

- name: Enable lingering is needed
  command: "loginctl enable-linger {{ ansible_user }}"
  when:
    - ansible_user != 'root'
    - not user_lingering.stat.exists

  # https://stackoverflow.com/questions/66324225/podman-pod-disappears-after-a-few-days-but-process-is-still-running-and-listeni
  #
  # runRoot: /run/user/1000/containers
  #- name: get podman runRoot dir
  #  shell: 'podman info | grep runRoot'
  #  register: podman_runRoot
- name: Copy the podmand.conf template to /etc/tmpfiles.d/
  become: true
  ansible.builtin.copy:
    src: /usr/lib/tmpfiles.d/podman.conf
    dest: /etc/tmpfiles.d/podman.conf
    remote_src: yes
- name: Add podman nonRoot dir to systemd tmp
  become: true
  lineinfile:
    path: /etc/tmpfiles.d/podman.conf
    line: "x /run/user/{{ ansible_user_uid }}"

- name: Pull the svt db2 image
  containers.podman.podman_image:
    name: "{{ svt_db2_image }}"
    username: "{{ hyc_user }}"
    password: "{{ hyc_token }}"
    force: yes
    state: present
  register: svtop

- debug:
   msg: '{{ svtop }}'

- name: create dbdir directory
  file:
    path: "{{ item }}"
    state: directory
  with_items:
  - "/home/{{ ansible_user }}/dbdir"

- name: kill rm any existing db2 container
  containers.podman.podman_container:
    log_level: info
    name: '{{ svt_db_container_name }}'
    privileged: yes
    image: "{{ svt_db2_image }}"
    state: absent # started created absent stopped present
  register: svtop

- debug:
   msg: '{{ svtop }}'

# https://docs.ansible.com/ansible/latest/collections/containers/podman/podman_container_module.html#ansible-collections-containers-podman-podman-container-module
- name: Run svtdb container
  containers.podman.podman_container:
    log_level: info
    name: '{{ svt_db_container_name }}'
    privileged: true
    image: "{{ svt_db2_image }}"
    state: started
    restart: true
    ports:
     - "50000:50000"
    volume:
     - "/home/{{ ansible_user }}/dbdir:/database"
    cmd_args:
     - "-e LICENSE=accept"
     - "-e DB2INST1_PASSWORD={{ db_pass }}"
     - "-e DBNAME={{ db_name }}"
     - "-e APP={{ svt_db_app }}"
  register: svtop

- debug:
   msg: '{{ svtop }}'

