#!/bin/bash

# variables
OPERANDS_TO_DISABLE="{{ cs_operand_to_disable|join("|") }}"
OPERANDS_TO_ENABLE="{{ cs_operand_list|join("|")}}"

# create operandrequest to install
func_operand_request () {
   cat << ENDF > operandrequest.yml
apiVersion: operator.ibm.com/v1alpha1
kind: OperandRequest
metadata:
  name: common-service
  namespace: {{ cs_operator_project_name }}
spec:
  requests:
  - registry: common-service
    registryNamespace: {{ cs_operator_project_name }}
    operands:
ENDF
   for operand in `oc -n {{ cs_operator_project_name }} get operandregistry common-service -o jsonpath='{.spec.operators[*].name}'`; do
      if [ "X$OPERANDS_TO_DISABLE" != "X" ]; then
         if echo $operand | egrep -q "$OPERANDS_TO_DISABLE"; then
            echo "    # - name: $operand"
         elif [ "X$OPERANDS_TO_ENABLE" != "X" ]; then
            if echo $operand | egrep -q "$OPERANDS_TO_ENABLE"; then
               echo "    - name: $operand"
            fi
         else
            echo "    - name: $operand"
		 fi
      elif [ "X$OPERANDS_TO_ENABLE" != "X" ]; then
         if echo $operand | egrep -q "$OPERANDS_TO_ENABLE"; then
            echo "    - name: $operand"
         fi
      else
         echo "    - name: $operand"
      fi
   done >> operandrequest.yml
   # oc apply -f operandrequest.yml
}

func_operand_request
