LoadModule ibm_ssl_module modules/mod_ibm_ssl.so
Listen {{ https_port }}
<VirtualHost *:{{ https_port }}>
 ServerName {{ ansible_hostname }}
 SSLEnable
</VirtualHost>
KeyFile {{ install_base }}/{{ http_dir }}/conf/ihsserverkey.kdb
