<?xml version='1.0' encoding='UTF-8'?>
<agent-input>
  <variables>
   <variable name='sharedLocation' value='{{ install_ihs_base }}/{{ shared_dir }}'/>
  </variables>
  <server>
	  <repository location='https://rtpgsa.ibm.com/gsa/rtpgsa/projects/w/was.build/botp/{{ twas_release }}.IM/{{ ihs_daily_or_test }}/{{ ihs_im_driver }}.linux/linux/zipper/repository/'/>
  </server>
  <profile id='{{ profile_id_ibm_http_server }}' installLocation='{{ install_ihs_base }}/{{ http_dir }}'>
    <data key='user.wasjava' value='java8'/>
    <data key='user.ihs.allowNonRootSilentInstall' value='true'/>
    <data key='user.ihs.http.server.service.name' value='none'/>
    <data key='user.ihs.httpPort' value='{{ ihs_http_port }}'/>
    <data key='user.ihs.installHttpService' value='false'/>
    <data key='user.internal.use.only.prev.wasjava' value='java8'/>
  </profile>
  <install>
    <!-- {{ profile_id_ibm_http_server }} for WebSphere Application Server 8.5.5.x -->
    <offering profile='{{ profile_id_ibm_http_server }}' id='{{ im_http_package[twas_release] }}'  features='core.feature,arch.64bit'/>
  </install>
  <profile id='{{ profile_id_ibm_http_plugin }}' installLocation='{{ install_ihs_base }}/{{ plugin_dir }}'>
    <data key='user.wasjava' value='java8'/>
    <data key='user.internal.use.only.prev.wasjava' value='java8'/>
  </profile>
  <install>
    <!-- {{ profile_id_ibm_http_plugin }} 8.5.5.x -->
    <offering profile='{{ profile_id_ibm_http_plugin }}' id='{{ im_plugin_package[twas_release] }}' features='core.feature,{{ im_twas855_java_package[ansible_architecture] }}'/>
  </install>
  <profile id='{{ profile_id_ibm_wct_toolbox }}' installLocation='{{ install_ihs_base }}/{{ wct_dir }}'>
    <data key='user.wasjava' value='java8'/>
    <data key='user.internal.use.only.prev.wasjava' value='java8'/>
  </profile>
  <install>
    <!-- {{ profile_id_ibm_wct_toolbox }} 8.5.5.x -->
    <offering profile='{{ profile_id_ibm_wct_toolbox }}' id='{{ im_wct_package[twas_release] }}' features='core.feature,pct'/>
  </install>
  <preference name='com.ibm.cic.common.core.preferences.eclipseCache' value='${sharedLocation}'/>
</agent-input>
