configType="remote"
enableAdminServerSupport="true"
enableUserAndPass="true"
ihsAdminCreateUserAndGroup="true"
ihsAdminPassword="{{ admin_pass }}"
ihsAdminPort="8008"
ihsAdminUnixUserGroup="{{ admin_user }}"
ihsAdminUnixUserID="{{ admin_user }}"
ihsAdminUserGroup="{{ admin_user }}"
ihsAdminUserID="{{ admin_user }}"
mapWebserverToApplications="false"
profileName=""
wasMachineHostName="localhost"
webServerConfigFile1="{{ install_base }}/{{ http_dir }}/conf/httpd.conf"
webServerDefinition="webserver1"
webServerHostName=""
webServerInstallArch=""
webServerPortNumber="8180"
webServerSelected="ihs"
webServerType="IHS"
