configType="remote"
enableAdminServerSupport="true"
enableUserAndPass="true"
ihsAdminCreateUserAndGroup="true"
ihsAdminPassword="pihsadmin"
ihsAdminPort="8008"
ihsAdminUnixUserGroup="ihsadmin"
ihsAdminUnixUserID="ihsadmin"
ihsAdminUserGroup="ihsadmin"
ihsAdminUserID="ihsadmin"
mapWebserverToApplications="false"
profileName=""
wasMachineHostName="localhost"
webServerConfigFile1="{{ install_base }}/{{ httpd_dir }}/conf/httpd.conf"
webServerDefinition="webserver1"
webServerHostName=""
webServerInstallArch=""
webServerPortNumber="8180"
webServerSelected="ihs"
webServerType="IHS"
