configType="remote"
enableAdminServerSupport="true"
enableUserAndPass="true"
ihsAdminCreateUserAndGroup="true"
ihsAdminPassword="{{ ihs_admin_pass }}"
ihsAdminPort="{{ ihs_admin_port }}"
ihsAdminUnixUserGroup="{{ ihs_admin_user }}"
ihsAdminUnixUserID="{{ ihs_admin_user }}"
ihsAdminUserGroup="{{ ihs_admin_user }}"
ihsAdminUserID="{{ ihs_admin_user }}"
mapWebserverToApplications="false"
profileName=""
wasMachineHostName="localhost"
webServerConfigFile1="{{ install_base }}/{{ http_dir }}/conf/httpd.conf"
webServerDefinition="{{ webServerName }}"
webServerHostName=""
webServerInstallArch=""
webServerPortNumber="{{ ihs_http_port }}"
webServerSelected="ihs"
webServerType="IHS"
