---

# blindly try fuser ( linux )
- name:  blindly try fuser ( linux )
  ignore_errors: true
  shell: "fuser -k {{install_base }}/{{ twas_dir }}/profiles/{{ profile_name }}"
  register: killOutput
  failed_when: ( killOutput.rc not in [ 0, 1, 2, 127 ] )

#[nest@oscert-twas855-dmgr ~]$ was/bin/manageprofiles listProfiles
#[dmgr]
#[nest@oscert-twas855-dmgr ~]$ was/bin/manageprofiles{{ ext }} -getName -profilePath /home/nest/was/profiles/dmgr
#dmgr
#if no profile
#[nest@oscert-twas855-dmgr ~]$ was/bin/manageprofiles{{ ext }} -getName -profilePath /home/nest/was/profiles/dmgr1
#Cannot retrieve the profile name: The profile registry might be corrupt or the profile might not exist. For more information, consult /home/nest/was/logs/manageprofiles/getName.log.
#[nest@oscert-twas855-dmgr ~]$ echo $?
#1

- name:  list current profile
  ignore_errors: true
  shell: "{{install_base }}/{{ twas_dir }}/bin/manageprofiles{{ ext }} -getName -profilePath {{install_base }}/{{ twas_dir }}/profiles/{{ profile_name }}"
  register: listProfile
  failed_when: ( listProfile.rc not in [ 0, 1, 2 ] )

- name: listProfileOutput
  debug: 
   msg: "{{ listProfile.stdout_lines }}"

#[nest@oscert-twas855-dmgr ~]$ was/bin/manageprofiles{{ ext }} -delete -profileName dmgr
#INSTCONFPARTIALSUCCESS: The profile no longer exists, but errors occurred. For more information, consult /home/nest/was/logs/manageprofiles/dmgr_delete.log.
#[nest@oscert-twas855-dmgr ~]$ echo $?
#2

- name:  delete current profile
  when: ( listProfile.rc in [ 0 ] )
  ignore_errors: true
  shell: "{{install_base }}/{{ twas_dir }}/bin/manageprofiles{{ ext }} -delete -profileName {{ profile_name }}"
  register: deleteProfile
  failed_when: ( deleteProfile.rc not in [ 0, 1, 2 ] )

- name: Remove previous twas profile dir
  file:
    path: "{{ item }}"
    state: absent
  with_items:
  - "{{ install_base }}/{{ twas_dir }}/profiles/{{ profile_name }}"

- name:  create profile
  shell: "{{ install_base }}/{{ twas_dir }}/bin/manageprofiles{{ ext }} -create -profileName {{ profile_name }} -profilePath {{ install_base }}/{{ twas_dir }}/profiles/{{ profile_name }} -templatePath {{ profile_templatePath[profile_type] }} -cellName {{ cellName }} -nodeName {{ profile_name }} -omitAction"
  register: createProfile
  failed_when: ( createProfile.rc not in [ 0, 1, 2 ] )

- name: createProfile
  debug: 
   msg: "{{ createProfile.stdout_lines }}"


