---
- name: Configure
  tags: configure 
  block:
  - name: check if liberty is installed
    stat:
      path: "{{ install_base }}/{{ liberty_dir }}/bin/server"
    register: isliberty
    failed_when: isliberty.stat.exists == False

  - name: does server exist?
    stat:
      path: "{{ install_base }}/{{ liberty_dir }}/usr/servers/{{ wl_server }}"
    register: iscc

  - name:  stop existing server process
    ignore_errors: true
    shell: "{{install_base }}/{{ liberty_dir }}/bin/server stop {{ wl_server }}"
    when: iscc.stat.exists == True

  - name:  remove current server
    ignore_errors: true
    shell: "rm -rf {{install_base }}/{{ liberty_dir }}/usr/servers/{{ wl_server }}"

  - name:  create server
    shell: "{{install_base }}/{{ liberty_dir }}/bin/server create {{ wl_server }}"

  - name: update http port
    replace:
      path: "{{ install_base }}/{{ liberty_dir }}/usr/servers/{{ wl_server }}/server.xml"
      regexp: '9080'
      replace: "{{ liberty_http_port }}"

  - name: update https port
    replace:
      path: "{{ install_base }}/{{ liberty_dir }}/usr/servers/{{ wl_server }}/server.xml"
      regexp: '9443'
      replace: "{{ liberty_http_ports }}"
