#!/bin/bash

my_dir=$(dirname $(readlink -f $0))

echo "Installing Local Storage Operator."

oc apply -f $my_dir/02.local-storage-operator.yaml

if [ ! $? -eq 0 ]
then
    echo "There was an error installing Local Storage Operator."
    exit 1
fi


sleep 5

oc project {{ local_storage_namespace }}
###
csv_counter=30
oc get csv --no-headers=true | grep local-storage-operator
rc_csv=$?
echo -n "Checking for csv "
while [[ $rc_csv -eq 1 ]]
do
    csv_counter=$(( ${csv_counter} -1 ))
    if [ "$csv_counter" -lt 1 ]
    then
        echo "Max retries reached for csv check, exiting..."
        exit 1
    fi
    sleep 5
    oc get csv | grep local-storage-operator
    rc_csv=$?
    echo -n .
done
echo
echo -n "Waiting for Local Storage Operator to be ready."
COUNTER=60
STATUS=$(oc get csv --no-headers=true  | grep local-storage-operator | rev | cut -f1 -d' ' | rev | tr -d ' ')
while [[ "${STATUS}" != "Succeeded" ]]
do
    COUNTER=$(( ${COUNTER} -1 ))
    if [ "$COUNTER" -lt 1 ]
    then
        echo "Max retries reached, exiting..."
        exit 1
    fi
    sleep 5
    STATUS=$(oc get csv --no-headers=true  | grep local-storage-operator | rev | cut -f1 -d' ' | rev | tr -d ' ')
    echo -n $STATUS
    echo -n .
done
echo
echo "Local Storage Operator Installed"
