### helpful for debug to set noLog to false via -e noLog=false
noLog: False

fyre_addAnsibleHost: true
fyre_modifyKnownHosts: true
fyre_emberSuffix: "1"
clusterName: "{{ stackName|default(clusterName_prefix+'-'+ (999999|random)|string) }}"
ssh_public_key: "{{ lookup('file', lookup('env','HOME') + '/.ssh/id_rsa.pub') }}"

# How many times to retry waiting for an ssh connection after provisioning
# The check is performed every 5 seconds, so the default is 30 minutes
fyre_sshRetries: 360
# How many times to wait for a fyre request to complete
# The check is performed every 5 seconds, so the default is 1 hour
fyre_requestRetries: 720
# How many times to check for deployed status after provisioning a cluster
# The check is performed every 20 seconds, so the default equates to 2 hours
fyre_deployCheckRetries: 360

#Default Specs
fyre_platform: "x"
fyre_os: "Ubuntu 22.04"
fyre_memory: 8
fyre_cpu: 4
fyre_site: "svl"
fyre_publicvlan: "y"
fyre_comment: "Created By Community Automation Ansible"

### do not change below
# Fyre urls and api
fyre_apiurl: https://api.fyre.ibm.com/rest/v1/
fyre_buildurl: "{{ fyre_apiurl }}?operation=build"
fyre_requeststatusurl: "{{ fyre_apiurl }}?operation=query&request=showrequests&request_id="
fyre_clusterstatusurl: "{{ fyre_apiurl }}?operation=query&request=showclusterdetails&cluster_name={{clusterName}}"

hostnameDomain: '.fyre.ibm.com'
ember: "{{ clusterName }}-{{ fyre_emberSuffix }}"
emberFQDN: "{{ ember }}{{ hostnameDomain }}"



