---

- name: default
  when: profile_type == 'default'
  block:
   - name: stop the default server
     ignore_errors: true
     shell: "{{install_base }}/{{ twas_dir }}/profiles/{{ profile_name }}/bin/stopServer.sh {{ appServerName }} -username {{ twas_username }} -password {{ twas_password }}" 
     register: stopDefaultOutput
     failed_when: ( stopDefaultOutput.rc not in [ 0,246,255 ] )
   - name: stopDefaultOutput
     debug:
      msg: "{{ stopDefaultOutput.stdout_lines }}"
