[
    {
        "hostname": "{{ ansible_fqdn }}":
        {
            "Name": "{{ twas_Name }}",
            "Version": "{{ twas_Version }}",
            "ID": "{{ twas_Version }}",
            "Build_Level": "{{ twas_Build_Level }}",
            "Package": "{{ twas_Package }}",
            "Architecture": "{{ twas_Architecture }}",
        },
        {
            "Name": "{{ java_Name }}",
            "Version": "{{ java_Version }}",
            "ID": "{{ java_Version }}",
            "Build_Level": "{{ java_Build_Level }}",
            "Architecture": "{{ java_Architecture }}",
        },
    }
]
