---

- name: default
  when: profile_type == 'default'
  block:
   - name: start the default
     shell: "{{install_base }}/{{ twas_dir }}/profiles/{{ profile_name }}/bin/startServer.sh {{ appServerName }}" 
     register: startDefaultOutput
     failed_when: ( startDefaultOutput.rc not in [ 0, 255 ] )
   - name: startDefaultOutput
     debug:
      msg: "{{ startDefaultOutput.stdout_lines }}"
   - name: cat AboutThisProfile.txt
     shell: "cat {{install_base }}/{{ twas_dir }}/profiles/{{ profile_name }}/logs/AboutThisProfile.txt"
     register: AboutThisProfile
   - name: AboutThisProfile
     debug:
      msg: "{{ AboutThisProfile.stdout_lines }}"
