---
### https://www.ibm.com/support/pages/understanding-aix-virtual-rpm-package-rpmrte
- name: updtvpkg
  command: 'updtvpkg'
  become: yes
- name: check if aixtoolbox is installed
  stat:
   path: /usr/bin/yum 
  register: istoolbox
- block:
        # FAILS with unzip error ....
        #  - name: get aixtoolbox
        #    unarchive:
        #      validate_certs: False
        #      src: "http://public.dhe.ibm.com/aix/freeSoftware/aixtoolbox/ezinstall/ppc/yum_bundle.tar"
        #      dest: /tmp
        #      remote_src: yes
        #    become: yes
        #
  - name: create aixtoolbox dir
    file:
     path: /tmp/aixtoolbox
     state: directory
  - name: get aixtoolbox get_url
    get_url:
            # FAILS with ssl3 comm error
            #     url: "http://nest-reports1.fyre.ibm.com/opt/downloads/yum_bundle.tar"
     url: "http://public.dhe.ibm.com/aix/freeSoftware/aixtoolbox/ezinstall/ppc/yum_bundle.tar"
     dest: /tmp/aixtoolbox
     validate_certs: false
    become: yes
  - name: get aixtoolbox
    command: 'tar -xf yum_bundle.tar'
    args:
     chdir: /tmp/aixtoolbox
    become: yes
  - name: install aixtoolbox rpms
    command: 'rpm -Uvh --force *.rpm'
    args:
     chdir: /tmp/aixtoolbox
    become: yes
  - name: Install the latest version sudo
    yum:
     name: sudo
     state: latest
    become: yes
  when: istoolbox.stat.exists == False
- name: yum update all latest
  yum:
   name: '*'
   state: latest
  become: yes
  register: isupdated
- name: enable full core dump from applications
  command: 'chdev -l sys0 -a fullcore=true'
  become: yes

