---
### https://www.ibm.com/support/pages/understanding-aix-virtual-rpm-package-rpmrte
- name: updtvpkg
  command: 'updtvpkg'
  become: yes
- name: check if aixtoolbox is installed
  stat:
   path: /opt/freeware/bin/dnf
  register: istoolbox
- block:
  - name: create aixtoolbox dir
    file:
     path: /tmp/aixtoolbox
     state: directory
  - name: get aixtoolbox get_url
    get_url:
     url: "https://public.dhe.ibm.com/aix/freeSoftware/aixtoolbox/ezinstall/ppc/dnf_aixtoolbox.sh"
     dest: /tmp/aixtoolbox/dnf_aixtoolbox.sh
     validate_certs: false
    become: yes
  - name: chmod +x dnf_aixtoolbox.sh 
    ansible.builtin.file:
      path: /tmp/aixtoolbox/dnf_aixtoolbox.sh
      owner: root
      mode: '1777'
    become: yes
  - name: install aixtoolbox 
    command: '/tmp/aixtoolbox/dnf_aixtoolbox.sh -y'
    args:
     chdir: /tmp/aixtoolbox
    become: yes
  when: istoolbox.stat.exists == False
- name: add /opt/freeware/bin to the path
  lineinfile:
    path: "~/.profile"
    regexp: '/opt/freeware/bin'
    line: 'export PATH=/opt/freeware/bin:$PATH'
    create: true
    mode: 0755
  become: yes
- name: where is the dnf tool?
  command: 'which dnf'
  register: isdnf
  become: yes
- name: whereIsDNF
  debug: 
   msg: "{{ isdnf.stdout_lines }}"
- name: Remove any python2
  dnf:
   name: python2*
   state: absent
  become: yes
- name: Install the latest version sudo
  dnf:
   name: "{{ packages }}"
   state: latest
  vars:
   packages:
   - sudo
   - zip
   - unzip
   - less
  become: yes
- name: dnf update all latest
  dnf:
   name: '*'
   state: latest
  become: yes
  register: isupdated
- name: enable full core dump from applications
  command: 'chdev -l sys0 -a fullcore=true'
  become: yes
