[defaults]
inventory            = inventory
command_warnings     = False
filter_plugins       = filter_plugins
host_key_checking    = False
deprecation_warnings = False
retry_files_enabled  = False
pipelining           = True
<<<<<<< HEAD
stdout_callback      = debug
||||||| b567197
=======
stdout_callback      = debug
>>>>>>> origin/master
