#!/bin/bash

my_dir=$(dirname $(readlink -f $0))
source $my_dir/../export_templates/fyre-vars

oc login -u kubeadmin -p "$(cat /root/auth/kubeadmin-password)" https://api.$(hostname | cut -f1 -d'.' | rev | cut -f1 -d'-' --complement | rev).cp.fyre.ibm.com:6443 --insecure-skip-tls-verify=true

#Check have enough worker nodes to install ceph
mapfile -t target_nodes < <(oc get nodes | grep -v master | awk '{print $1}' | grep -v NAME)
if [ ${#target_nodes[@]} -lt 3 ]; then
   echo "You need at least three worker nodes to install ceph"
   exit 1
fi

# Install ceph
rm -rf rook
yum update -y
yum install git -y
git clone https://github.com/rook/rook.git -b v1.1.7
oc create -f rook/cluster/examples/kubernetes/ceph/common.yaml
oc create -f rook/cluster/examples/kubernetes/ceph/operator-openshift.yaml
sed -i 's/useAllDevices: true/useAllDevices: false/g' rook/cluster/examples/kubernetes/ceph/cluster.yaml
sed -i "s/deviceFilter:/deviceFilter: vdb/g" rook/cluster/examples/kubernetes/ceph/cluster.yaml
oc create -f rook/cluster/examples/kubernetes/ceph/cluster.yaml
oc create -f rook/cluster/examples/kubernetes/ceph/filesystem-test.yaml
oc create -f rook/cluster/examples/kubernetes/ceph/csi/cephfs/storageclass.yaml
oc patch storageclass csi-cephfs -p '{"metadata": {"annotations":{"storageclass.kubernetes.io/is-default-class":"true"}}}'
oc create -f rook/cluster/examples/kubernetes/ceph/csi/rbd/storageclass-test.yaml
