---
  - name: Create Fyre Quickburn stack
    uri:
      url: "{{fyreocpplus_ocpdeployurl}}"
      method: "POST"
      user: "{{ fyreuser }}"
      password: "{{ fyreapikey }}"
      validate_certs: False
      body_format: "json"
      body:
        name : "{{ clusterName }}"
        ocp_version: "{{ ocpVersion }}"
        platform: "{{ ocpPlatform }}"
        ssh_key: "{{ ssh_public_key_file }}"
        quota_type: "quick_burn"
        size: "{{ quickburn_size }}"
        time_to_live: "{{ quickburn_ttl }}"
    register: fyrestatus
