apiVersion: v1
items:
- apiVersion: hive.openshift.io/v1
  kind: ClusterDeployment
  metadata:
    creationTimestamp: null
    labels:
      hive.openshift.io/hiveutil-created: "true"
    name: {{ CLUSTER_NAME }}
    namespace: {{ CLUSTER_NAME }}
  spec:
    baseDomain: {{ BASE_DOMAIN }}
    clusterName: {{ CLUSTER_NAME }}
    controlPlaneConfig:
      servingCertificates: {}
    installed: false
    platform:
      gcp:
        credentialsSecretRef:
          name: {{ CLUSTER_NAME }}-gcp-creds
        region: {{ GOOGLE_REGION }}
    provisioning:
      imageSetRef:
        name: {{ CLUSTER_NAME }}-imageset
      installConfigSecretRef:
        name: {{ CLUSTER_NAME }}-install-config
    pullSecretRef:
      name: {{ CLUSTER_NAME }}-pull-secret
  status: {}
- apiVersion: hive.openshift.io/v1
  kind: MachinePool
  metadata:
    creationTimestamp: null
    name: {{ CLUSTER_NAME }}-worker
    namespace: {{ CLUSTER_NAME }}
  spec:
    clusterDeploymentRef:
      name: {{ CLUSTER_NAME }}
    name: worker
    platform:
      gcp:
        type: {{ GOOGLE_WORKER_TYPE }}
    replicas: {{ GOOGLE_WORKER_COUNT }}
  status: {}
- apiVersion: v1
  kind: Secret
  metadata:
    creationTimestamp: null
    name: {{ CLUSTER_NAME }}-install-config
    namespace: {{ CLUSTER_NAME }}
  stringData:
    install-config.yaml: |
      apiVersion: v1
      baseDomain: {{ BASE_DOMAIN }}
      compute:
      - name: worker
        platform:
          gcp:
            type: {{ GOOGLE_WORKER_TYPE }}
        replicas: {{ GOOGLE_WORKER_COUNT }}
      controlPlane:
        name: master
        platform:
          gcp:
            type: {{ GOOGLE_MASTER_TYPE }}
        replicas: 3
      metadata:
        creationTimestamp: null
        name: {{ CLUSTER_NAME }}
      networking:
        clusterNetwork:
        - cidr: 10.128.0.0/14
          hostPrefix: 23
        machineNetwork:
        - cidr: 10.0.0.0/16
        networkType: OpenShiftSDN
        serviceNetwork:
        - 172.30.0.0/16
      platform:
        gcp:
          projectID: {{ GOOGLE_PROJECT_ID }}
          region: {{ GOOGLE_REGION }}
      pullSecret: ""
      sshKey: {{ SSH_PUBLIC_KEY }}
  type: Opaque
- apiVersion: v1
  kind: Secret
  metadata:
    creationTimestamp: null
    name: {{ CLUSTER_NAME }}-pull-secret
    namespace: {{ CLUSTER_NAME }}
  stringData:
    .dockerconfigjson: '{{ PULL_SECRET }}'
  type: kubernetes.io/dockerconfigjson
- apiVersion: v1
  data:
    osServiceAccount.json: {{ GOOGLE_SERVICE_ACCOUNT }}
  kind: Secret
  metadata:
    creationTimestamp: null
    name: {{ CLUSTER_NAME }}-gcp-creds
    namespace: {{ CLUSTER_NAME }}
  type: Opaque
- apiVersion: hive.openshift.io/v1
  kind: ClusterImageSet
  metadata:
    creationTimestamp: null
    name: {{ CLUSTER_NAME }}-imageset
  spec:
    releaseImage: {{ OCP_RELEASE_IMAGE }}
  status: {}
kind: List
metadata: {}
